<!DOCTYPE html>
<html lang="en">
<head>
  <title>Train system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  {%if message%}
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong style="text-align:center ">{{message}}</strong>
  </div>
  {%endif%}
<div class="container">

    <a href="{{ url_for('trainSystem') }}"><button type="button" class="btn btn-success">Train system</button></a>

</div>

</body>
</html>
